.container{
    width: 80%;
    margin: 0px auto;  
    position: relative;
    padding: 20px 10px 10px 10px;
    text-align: center
}
section#form {
    min-height: 470px;
    margin: 0 25% 0 25%;
    padding: 10px 10px 10px 10px;
    color: white
  }
body {
    background-color: black;
    background-size: cover;
    height: 200px;
}

section#second-section{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10;
   
}
.jumbotron , .jumbotron-fluid {
    background-image: url(./Asset/image.jpeg);
    color: white;
    text-align: center

}

footer {
    background-color: white;
    text-align: center;
    padding: 10px 10px 10px 10px;
}